@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
  font-family: "TAN - PEARL";
  src: url("fonts/TAN-PEARL-Regular.woff2") format("woff2"),
    url("fonts/TAN-PEARL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color1: #381d2a;
  --color2: #67927a;
  --color3: #9cc89f;
  --color4: #eae6e5;
  --color5: #8c8175;
  --color6: #41493c;
  --color7: #f39b6d;
  --color8: #7d193e;
  --color9: #3e6690;
  --color10: #ffd1bc;
  --pop: "Poppins", sans-serif;
  --tan: "TAN - PEARL";
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 600px;
  width: 350px;
  box-shadow: none;
  background-color: var(--color5);
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.head {
  font-family: var(--tan);
  text-align: center;
  pointer-events: none;
  margin: 10px 0 10px 0;
  color: var(--color1);
}

.url-form-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.urlClass {
  outline: none;
  border: none;
  width: 80%;
  padding: 10px 5px;
  background-color: var(--color3);
}

.url-box-container {
  width: 80%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 0px 0px var(--color2);
  background-color: var(--color3);
}

.url-submit {
  margin: 10px 0 0 0;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--color2);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color6);
  cursor: pointer;
  color: var(--color4);
}

.url-submit:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color6);
}

.infoBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 10px;
}

.infoBoxChildContainer {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--color3);
}

.gaugeChart {
  width: 100%;
  background-color: var(--color6);
  color: var(--color4);
  font-family: var(--pop);
  height: 30vh;
  border-radius: 10px;
}

.gaugeChart > h2 {
  text-align: center;
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  gap: 10px;
  border-radius: 10px;
  margin: 10px 0 0 0;
}

.pieChart {
  width: 50%;
  background-color: var(--color6);
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
  padding: 5px;
}

.pieChart > h2 {
  text-align: center;
}

.miscDiv {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.phishingDetector {
  background-color: var(--color6);
  height: 60%;
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
}

.reportAndKnowMore {
  background-color: var(--color6);
  height: 40%;
  color: var(--color4);
  font-family: var(--pop);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.reportButton {
  width: 100%;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--color8);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color1);
  cursor: pointer;
  color: var(--color4);
}

.reportButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color1);
}

.knowMoreButton {
  width: 100%;
  padding: 5px 20px;
  border: none;
  outline: none;
  background-color: var(--color9);
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px var(--color10);
  cursor: pointer;
  color: var(--color4);
}

.knowMoreButton:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px var(--color6);
}

